/*  ------------------------------ BASICS  ------------------------------*/
body {
	background-color: #EB4524;
	font-family: 'Raleway', sans-serif;
}

svg, h1 {
	animation: verschijnen 5s;
}

svg {
	height: 90vw;
	display: block;
	margin: auto;
	position: relative;
	z-index: 1;
}

@keyframes verschijnen {
	from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/*  ------------------------------ NEON LETTERS ANIMATIE  ------------------------------*/
h1 {
	font-size: 18px;
	color: #272C25;
	position: absolute;
	top: 4.5vw;
	left: 45vw;
	transform: skew(0deg, 35deg);
	z-index: 2;
}

h1:hover {
	text-shadow: 0 0 0.6rem #fff5e6, 0 0 1.5rem #ffdb65, -0.2rem 0.1rem 1rem #ffdb65, 
	0.2rem 0.1rem 1rem #ffdb65, 0 -0.5rem 2rem #ffcc24, 0 0.5rem 3rem #ffcc24;
	top: 4.5vw;
	left: 45vw;
	transform: skew(0deg, 35deg);
	animation: blink 3s infinite;
}


@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}



/*  --------------------------------- WOLK ANIMATIES  ---------------------------------*/
#Schaduw_wolk_voorgrond_5, #Wolkjes_achter_gebouw, #Wolkje_voor_gebouw{
	animation-name: zweef;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes zweef {
  from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}



/*  ------------------------------ LETTERS ANIMATIE  ------------------------------*/
#B {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 2.5s;
}

#Achter_B {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 2.5s;
}

#E {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 3.2s;
} 

#R {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 3.2s;
}

#L {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 3.9s;
}

#I {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 2.5s;
}

#N {
	opacity:0; 
	animation:verschijnen ease-in 1s;
	animation-fill-mode:forwards;
	animation-duration:2s;
	animation-delay: 3.9s;
}


@keyframes verschijnen { 
	from { opacity:0; } 
	to { opacity:1; } 
}






/*  ------------------------------ BOOM ANIMATIES  ------------------------------*/
#Boom_1 {
	animation:groei ease-in 1s;
	animation-duration: 2s;
}


#Boom_2 {
	animation:groei ease-in 1s;
	animation-duration: 2s;
	animation-delay: 0.2s
}


#Boom_3_1_ {
	animation:groei ease-in 1s;
	animation-duration: 2s;
	animation-delay: 0.4s;
}


#Boom_4 {
	animation:groei ease-in 1s;
	animation-duration: 2s;
	animation-delay: 0.6s;
}


#Boom_5 {
	animation:groei ease-in 1s;
	animation-duration: 2s;
	animation-delay: 0.8s;
}

@keyframes groei {
	0% { 
		transform: scaleY(0)
	}
	75% { 
		transform: scaleY(1)
	}
	85% { 
		transform: scaleY(0.9)
	}
	100% { 
		transform: scaleY(1)
	}
	
}





/*  ------------------------------ TREIN HOVER ANIMATIE  ------------------------------*/
#Trein_2_ {
	transition: transform 0.5s;
}
  
 #Trein_2_:hover {
    transform: translate(-25px, 10px);
  }



/*  ------------------------------ TREIN HOVER ANIMATIE  ------------------------------*/
#Fiets {
	transition: transform 0.5s;
}
  
 #Fiets:hover {
    transform: translate(25px, -10px);
  }



/*  ------------------------------ BOOT ANIMATIE  ------------------------------*/
#Boot {
	animation: boot;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes boot {
 0% {
    transform: rotate(1deg) translate(-15px);
  }
  50% {
    transform: rotate(-2deg) translate(-20px);
  }
  100% {
    transform: rotate(1deg) translate(-15px);
	}
}




/*  ------------------------------ VUURWERK ANIMATIE ------------------------------*/
.hidden {
	display: none;
}

.show {
	display: block;
}


#vuurwerk {
	margin: 0;
	padding: 0;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #2c2f69;
}

.firework {
	position: relative;
}

.explosion {
	position: absolute;
	left: 20vw;
	bottom: 0;
	width: 4px;
	height: 80px;
	transform-origin: 50% 100%;
	overflow: hidden;
}

.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}

.explosion:nth-child(2) {
	transform: rotate(30deg) translateY(-15px);
}

.explosion:nth-child(3) {
	transform: rotate(60deg) translateY(-15px);
}

.explosion:nth-child(4) {
	transform: rotate(90deg) translateY(-15px);
}

.explosion:nth-child(5) {
	transform: rotate(120deg) translateY(-15px);
}

.explosion:nth-child(6) {
	transform: rotate(150deg) translateY(-15px);
}

.explosion:nth-child(7) {
	transform: rotate(180deg) translateY(-15px);
}

.explosion:nth-child(8) {
	transform: rotate(210deg) translateY(-15px);
}

.explosion:nth-child(9) {
	transform: rotate(240deg) translateY(-15px);
}

.explosion:nth-child(10) {
	transform: rotate(270deg) translateY(-15px);
}

.explosion:nth-child(11) {
	transform: rotate(300deg) translateY(-15px);
}

.explosion:nth-child(12) {
	transform: rotate(330deg) translateY(-15px);
}

.explosion:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 40px;
	background-color: #f5cf52;
	animation: explosion 4s ease-in-out infinite;
}

@keyframes explosion {
	0% {
		top: 100%;
	}
	33%, 100% {
		top: -50%;
	}
}


#firework2 {
	left: 70vw;
	top: 10vw;
	transform: scale(0.5);
}

#firework3 {
	left: 70vw;
	top: 5vw;
	transform: scale(0.8);
}

#firework4 {
	left: 4vw;
	top: 20vw;
	transform: scale(0.3);
}





/*  --------------------------------- BUTTON ---------------------------------*/

.button {
	position: absolute;
	padding:0.7em 1.4em;
 	margin:0 0.3em 0.3em 0;
	bottom: 1vw;
	left: 46%;
	z-index: 2;
	font-weight:400;
	text-transform:uppercase;
	background-color: #f5cf52;
	font-family: 'Raleway', sans-serif;
	border-radius: 2px;
	border-color: #f5cf52;
}

.button:hover {
 backgorund-color: #f7be00;
}

/*  --------------------------------- MOBILE FORMAAT ---------------------------------*/
@media screen and (max-width: 590px)  {

	svg {
		top: 200px;
	}

	h1 {
		top: 5vw;
		right: 60vw;
		text-align: center;
		font-size: 28px;
	}

	#firework2 {
	left: 70vw;
	top: 80vw;
	transform: scale(0.5);
}

#firework3 {
	left: 70vw;
	top: 60vw;
	transform: scale(0.8);
}

#firework4 {
	left: 4vw;
	top: 40vw;
	transform: scale(0.3);
}

#firework1 {
	left: 20vw;
	top: 50vw;
	transform: scale(0.3);
}


}


