.planePath {
  stroke: #FFFFFF;
  stroke-width: .1%;
  stroke-width: .5%;
  stroke-dasharray: 1% 2%;
  stroke-linecap: round;
  fill: none;
}

#vliegtuig {
	transform: scale(2);
}

#Achtervleugel_2 {
  fill: #b7b7a1;
}

#Achtervleugel_1 {
  fill: #d1d5b8;
}

#Romp {
  fill: #b7b7a1;
}

#Vleugel {
  fill: #d1d5b8;
}

#Streep {
	fill: #d1d5b8;
}

#Raam {
	fill: #272c25;
}



.hidden {
	display: none;
}

.show {
	display: block;
}

